/* styles.css */
.active-item {
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.3) 20%,  /* Light white with transparency */
      rgba(255, 255, 255, 0.5) 40%,  /* Stronger white */
      rgba(255, 255, 255, 0.7) 60%   /* Even stronger white */
    );
  background-size: 200% auto;
  color:white; /* Black text for contrast */
  font-weight: bold;
  font-size: 16px;
  padding-left: 26px;
  position: relative;
  animation: wave 2s linear infinite;
  border-radius: 100px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); /* Light shadow for depth */
}

  
  .active-item::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    border-left: 20px solid rgb(106, 255, 0);
    border-bottom: 20px solid transparent;
    border-top-left-radius: 0px;
    transform: rotate(182deg);
  }
  
  @keyframes wave {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
  
  .inactive-item {
    opacity: 1;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    color: white;
  }
  